@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    background: white;
    padding-top: 10%;
    /* border:  solid; */
    border-radius: 1.5%;
}
.login-form-2 h3{
    text-align: center;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    font-weight: 600;
    color: #0062cc;
    width: 50%;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
    border-radius: .25rem;
}
.login-form-2 .ForgetPwd{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.wrapper{
    padding-top: 15%;
    padding-bottom: 15%;
}
body{
    background: #004E98;
    font-family: 'Titillium Web', sans-serif;
}

h3,.text-light{
    color: black;
}

.kim{
    width: 30%;
    margin-left: 35%
}

.btn{
    background-color: white;
    font-weight: 600;
    vertical-align: unset;
}

.form-control {
    background-color: whitesmoke;
    margin-left: 20px;

}

.help-block{
    margin-left: 20px;
}
/* https://bootsnipp.com/snippets/z8aQr */
