
/* *****************
	Base styles
***************** */

nav {
	background-color: #004E98;
	margin-top: 0;
	padding: 10px 0 0px 0;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

nav li {
	font-variant: small-caps;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

nav a {
	text-decoration: none;
	display: block;
	color: white;
	margin-bottom: 20px;
	font-size: 30px;
}

/* *****************
	State
***************** */

nav a:hover {
	margin-bottom: 15px;
	color: #F25F5C;
	text-decoration:underline;
}

nav a.is-current {
  color: #F25F5C;
  font-weight: 1000;
}
