nav {
	background-color: #66FCF1;
	margin-top: 0;
	padding: 10px 0 0px 0;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
nav li {
	font-variant: small-caps;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;

}
nav a {
	text-decoration: none;
	display: block;
	color: #697a7a;
	margin-bottom: 20px;
	font-size: 30px;


}
nav a:hover {
	margin-bottom: 15px;
	color: #0B0C10;
	border-bottom: 5px solid #45A29E;

}
