
/*Updated styles for personalization
(These involve bootstrap styles)*/

.container-fluid {
	margin-bottom: 30px;
	padding-right: 0;
	padding-left: 0;
	margin-right: auto; 
    margin-left:  auto; 
  	max-width: 1040px; 
  	width: 100%;
  	}


.btn-primary {
	background-color: #004E98;

}

.btn-info {
	background-color: #70C1B3;
	margin-left: 40px;
}

/*Added styles for personalization
(Visual designer new styles)*/

.full-width {
	grid-column: 1/4;
}

li:nth-child(3n+1) img {
	border: 20px solid #ffbb66;
}
li:nth-child(3n+2) img {
	border: 20px solid #70C1B3;
}
li:nth-child(3n+3) img{
	border: 20px solid #004E98;
}


.nav-link {
	float: right;
}


#index-header {
	padding-bottom: 40px;
}

h2 {
	margin-left: 40px;
}

#student-list {
	border-bottom: 3px solid black;
}

h1 a {
	float: left;
}


/* Renderform additions*/
label {
	display: block;
}

form div {
	padding: 15px 5px 0 5px;
}

.required {
	text-align: center;
	padding: 10px 0 0 10px;
}

img {
	max-height: 200px;
	max-width: 250px;
}