
/*Updated styles for personalization
(These involve bootstrap styles)*/

.container-fluid {
	margin-bottom: 30px;
	padding-right: 0;
	padding-left: 0;
	margin-right: auto; 
    margin-left:  auto; 
  	max-width: 1040px; 
  	width: 100%;
  	}


.btn-primary {
	background-color: #004E98;

}

.btn-info {
	background-color: #70C1B3;
	margin-left: 40px;
}
#password {
	margin-bottom: 10px; 
}
/*Added styles for personalization
(Visual designer new styles)*/

.full-width {
	grid-column: 1/4;
}

li:nth-child(3n+1) img {
	border: 20px solid #ffbb66;
}
li:nth-child(3n+2) img {
	border: 20px solid #70C1B3;
}
li:nth-child(3n+3) img{
	border: 20px solid #004E98;
}


.nav-link {
	float: right;
}


#index-header {
	padding-bottom: 40px;
}

h2 {
	margin-left: 30px;
	margin-right: 30px;
}

#student-list {
	border-bottom: 3px solid black;
}

h1 a {
	float: left;
}

.home-pic{
    display: inline;
    margin-left: auto;
    margin-right: auto;
	max-height: 1000px;
	max-width: 1000px;
}

#login {
	margin-top: 10px;
	margin-right: 12px;
}

/* Renderform additions*/
label {
	display: block;
}

form div {
	padding: 15px 5px 0 5px;
}

.required {
	text-align: center;
	padding: 10px 0 5px 0;
}

img {
	max-height: 200px;
	max-width: 250px;
}

header {
	max-width: 1040px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.sign{
	padding-top: 50px;
}

.hello{
	display: inline-block;
	padding-top: 60px;
	padding-left: 40px;
	
}

.bye{
	padding-left: 90px;
}

.border-bottom{
	border-bottom: solid 2px black;
}

ul{
    padding-left: 30px;
	margin-right: 30px;
}