@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* *****************
	Base Styles
***************** */

a{
  color: #212121;
}

a:hover {
  color: #F25F5C;
}

body {
	background: #EBEBEB;
	color: #212121;
	font-family: 'Share Tech Mono', sans-serif;
	line-height : 2.2em;
	letter-spacing: 0.05em;
	margin: 0px;
}

header {
  background-color: #004E98;
  color: #EBEBEB;
  font-size: 30px;
  margin-top: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 40px;
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 15px;
}

header a {
  color: #EBEBEB;
  float:right;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

footer {
	text-align:center;
	margin:0;
	width: 100%;
	background: #FEE3AF;
}

h2 {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	width: 100%;
	border-bottom: 2px dotted;
}

em {
	color: #004E98;
}

/* *****************
	Layout Styles
***************** */

.viewport {
	margin: 0 auto;
	width: 85%;
}

.homepage ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.homepage li {
	border: 2px solid #66FCF1;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0 20px 0;
}

.homepage h2, .intrp {
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0px;
}

.background {
	margin: auto;
	margin-top: 80px;
	margin-bottom: 100px;
	border: 2px solid #004E98;
	padding: 50px;
  padding-top: 0px;
  padding-bottom: 40px;
	width: 90%;
	border-radius: 10px;
}

.extra-interest {
	border: 2px solid #55ceb9;
	border-radius: 10px;
	width: 30%;
	margin: 1.25%;
	display: flex;
	flex-wrap: wrap;
}

.contact-info {
	margin: auto;
	border: 2px solid #ffbb66;
	padding: 50px;
	margin-top: 75px;
	border-radius: 10px;
	margin-bottom: 75px;
}

.background figure {
	float: right;
  margin-top:20px;
}

.background header{
  width: 100%;
  margin-left: -50px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 40px;
  padding-right: 0;
  background-position-y: 10px;
}

.container img {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 16.667%;
}

.pic_interest {
	background: #70C1B3;
	width: 400px;
	height: 300px;
	align-self: flex-end;
	border-radius: 0 0 5px 5px;
	margin: 0;
}


/* F LAYOUT */

.grid-container {
  display: grid;
  grid-template-columns:auto auto auto;
  grid-column-gap: 60px;
}

.row1, .row2, .row3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row1 {
  grid-row: 1;
  padding-top: 20px;
}

.row1 h3 {
  margin-top: 5px;
}

.row2 {
  grid-row: 2;
}

.row3 {
  grid-row: 3;
}

.row3 h3 {
  margin-top: 5px;
}

.column2 {
  grid-column: 2;
}

.list h1 {
  text-align: right;
  padding-top: 15px;
}

.list h2 {
  border-bottom: 3px solid;
  margin-top:50px;
}

/* Z Layout */

.viewport2 {
	margin: 0 auto;
  width: 95%;
  padding-top: 40px;
}

.grid2 {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  grid-gap: 30px;
  margin-top:10px;
  margin-bottom: 40px;
}

.grid2 h2 {
  margin: 0;
}

.align {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  padding-right: 0;
  margin-bottom: 30px;
}

.align a {
  color: #540d6e;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-left: 50px;
  margin-top: 65px;
  padding: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 23px;
  min-width: 500px;
  box-shadow: 7px 7px 0px 3px #91d2c7;
  background: #72c0b3;
}

.align a:hover {
  color: #cd375c;
  box-shadow: none;
}

/* *****************
	Modules
***************** */

fieldset{
  border: 10px solid #ffbe4a;
  padding: 20px;
  padding-bottom: 30px;
  margin-top: -10px;
}

input {
  width:95%;
}

.homepage h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 70px;
	text-align: center;
	width: 100%;
	padding: 0px;
	color: white;
}

.description {
	padding: 25px;
}

.row1 img {
  border: 20px solid #ffbb66;
}

.row2 img {
  border: 20px solid #70C1B3;
}

.row3 img {
  border: 20px solid #004E98;
}

footer a, .homepage a, .contact-info a {
  text-decoration: none;
  color: #540d6e;
}

.signInBtn {
  float:right;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  width:34%;
}

.personal_page_link {
	margin-top: 5px;
	font-size: 1.17em;
}
