@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web&display=swap');

/* *****************
	Base Styles
***************** */

body {
	background: #EBEBEB;
  color: #212121;
	font-family: 'Share Tech Mono', sans-serif;
	line-height : 2.2em;
  letter-spacing: 0.05em;
	margin: 0px;
}

footer{
  text-align:center;
}

h2{
  text-align: center;
}
/* *****************
	Layout Styles
***************** */

.viewport {
	margin: 0 auto;
	width: 85%;
}

footer a:hover, .homepage a:hover, .contact-info a:hover {
	color: #247BA0;
}

footer a, .homepage a, .contact-info a {
	text-decoration: none;
	color: #F25F5C;
}

.homepage ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.homepage li {
	border: 2px solid #66FCF1;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0 20px 0;
}

.homepage h2, .intrp {
	text-align: center;
}

.container2 {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.background1 {
	margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  border: 2px solid #004E98;
  padding: 50px;
  width: 90%;
  border-radius: 10px;
}

.extra-interest {
	border: 2px solid #55ceb9;
	padding: 25px;
	border-radius: 10px;
  width: 25%;
  margin: 1.25%;
}

.contact-info {
	border: 2px solid #ffbb66;
  padding: 25px;
  margin-top: 40px;
  border-radius: 10px;
  width: 90%;
}

.background1 figure {
	float: right;
}

.container2 img {
	display: block;
	margin: 0 auto;
}

/* *****************
	Modules
***************** */

.homepage h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 70px;
	text-align: center;
	width: 100%;
	padding: 0px;
	color: white;
}
