@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web&display=swap');

/* *****************
	Base Styles
***************** */

body {
	background: #EBEBEB;
  color: #212121;
	font-family: 'Share Tech Mono', sans-serif;
	line-height : 2.2em;
  letter-spacing: 0.05em;
	margin: 0px;
}

footer{
  text-align:center;
  margin:0;
  width: 100%;
  background: #FEE3AF;
}

h2{
  text-align: center;
}

h3{
  width: 100%;
  border-bottom: 2px dotted;
}

em{
  color: #004E98;
}

/* *****************
	Layout Styles
***************** */

.viewport {
	margin: 0 auto;
	width: 85%;
}

footer a:hover, .homepage a:hover, .contact-info a:hover {
	color: #F25F5C;
}

footer a, .homepage a, .contact-info a {
	text-decoration: none;
	color: #540d6e;
}

.homepage ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.homepage li {
	border: 2px solid #66FCF1;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0 20px 0;
}

.homepage h2, .intrp {
	text-align: center;
}

.container {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}

.background1 {
	margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  border: 2px solid #004E98;
  padding: 50px;
  width: 90%;
  border-radius: 10px;
}

.extra-interest {
	border: 2px solid #55ceb9;
	border-radius: 10px;
  width: 30%;
  margin: 1.25%;
  display: flex;
  flex-wrap: wrap;
}

.contact-info {
	border: 2px solid #ffbb66;
  padding: 25px;
  margin-top: 40px;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 40px;
}

.background1 figure {
	float: right;
}

.container img {
	display: block;
	margin: 0 auto;
  position: relative;
  top: 16.6666666666666666666666667%;
}

.pic_interest{
  background: #70C1B3;
  width: 400px;
  height: 300px;
  align-self: flex-end;
  border-radius: 0 0 5px 5px;
}

/* *****************
	Modules
***************** */

.homepage h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 70px;
	text-align: center;
	width: 100%;
	padding: 0px;
	color: white;
}

.description{
  padding: 25px;
}
