
/*********************************************
Base Styles
**********************************************/
body {
	font-family: 'Dosis', serif;
	background-color: #EFFFFB;
	color: #272727;

}
p {
	font-size: 20px;
	text-align: justify;
}
main {
	padding: 20px;
	border-bottom: 60px solid #50d890;
	border-top: 15px solid #50d890;
	border-right: 15px solid #50d890;
}
figure {
	float: left;
}
img {
	width: 200px;
}

li {
	text-align: center;
}
/*********************************************
Layout Styles
**********************************************/
.container {
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
}
.rotate {
	color:#EFFFFB;
	background-color: #272727;
	padding: 5px;
	font-stretch: extra-expanded;
	position: absolute;
	transform: rotate(-90deg);
	top: 45px;
	left: -29px;
}
/*********************************************
Module Styles
**********************************************/
.sub-title {
	font-style: italic;
	font-size: 24px;
}
